# user-specific project files
*.suo
*.user
*.Debug
*.Release
[Mm]akefile
*.sdf
*.opensdf
*.bat
# object files, linked application, build filed
*.o
*.ocpp
*.oc
*.obj
*.a
*.lib
*.exe
*.hi
utils/get_scores
[Dd]ebug/
[Rr]elease/
[Bb]uild/
[Rr]un/
EACirc/galib/BUILD
# backup and system files
*~
*.autosave
notes.txt
*.dgml
*.cd
