# user-specific project files
*.suo
*.user
*.Debug
*.Release
*.sdf
*.opensdf

# object files, linked application, build filed
*.o
*.ocpp
*.oc
*.obj
*.a
*.lib
*.exe
*.hi
*.asv
Oneclick/*.pl
Oneclick/configs/*.xml
Oneclick/results
utils/get_scores
utils/start.bat
[Dd]ebug/
[Rr]elease/
[Bb]uild/
[Rr]un/
EACirc/galib/BUILD
EACirc/EACirc

# backup and system files
*~
*.autosave
notes.txt
*.dgml
*.cd

# Version file (with current commit hash)
EACirc/Version.h

# results files with circuits created during debuging
circuit_*.dot
circuit_*.c
circuit_*.cat
circuit_*.txt
circuit_*.xml
test_vectors_hr.txt
test_vectors.bin
state_initial.xml
scores.log
population_initial.xml
fraction_done.txt
fitness_progress.txt
bestfit_graph.txt
avgfit_graph.txt
config.xml
