# user-specific project files
*.suo
*.user
*.Debug
*.Release
*.filters
*.sdf
*.opensdf
Makefile
*.bat
# object files, linked application, build filed
*.o
*.obj
*.a
*.lib
*.exe
[Dd]ebug/
[Rr]elease/
[Bb]uild/
[Rr]un/
EACirc/ga/BUILD
# backup and system files
*~
notes.txt
